    background-color: rgb(238, 243, 243);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.a{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-left: 100px;
}

.a h1{
     color: #1877f2;
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.a p{
    font-size: 28px;
    margin: 0;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.b{
    width: 90%;
    max-width: 396px;
    padding-left: 0;
}

.c{
    background-color: #fff;
    width: 350px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;

}

.c input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

.c button{
    width: 100%;
    padding: 12px;
    background: #1877f2;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.d{
     width: 50%;
    padding: 6px;
    background: #18b860;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
